<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}" class="d-flex text-decoration-none">
          <font color="#000000">
            <span class="fs-6 fw-bold">
              {{ item.title }},
            </span>
            <span class="fs-6">
            {{ item.author }}, 
            {{ item.conference }}
            </span>
        </font>
        </a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}" class="d-flex text-decoration-none">
          <font color="#000000"><span class="fs-6">{{ item.name }}</span></font>
        </a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
